body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(234, 255, 230);
}

.header {
    position: relative;
    overflow: hidden;
    color: white;
    height: 750px;
    
}

.title {    
    margin: 250px auto;
    text-align: center;
    font-size: 1.8rem;

}

.cont {
    margin: 6rem auto;
    text-align: center;
    width: 70%;
    font-size: 1.5rem;
}

.icons {
    min-width: 125px;
    width: 15%;
    margin-right: 2.5%;
    margin-left: 2.5%;

}

.icons:hover {
    transform: scale(1.10);
    transition: transform 0.5s;
}
/* cards */
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
  }

  .card {
    width: 30%;
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 50px;
    transition: 0.3s;
  }
  .card-header {
    text-align: center;
    /* padding: 50px 10px; */
    /* background: linear-gradient(to right, #ff416c, #ff4b2b); */
    /* color: #fff; */
  }
  .card-body {
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
  }

span {
font-weight: 700;
  }

  .card-header img {
      width: 100%;
  }
  .card-body .btn {
    display: block;
    color: #000;
    text-align: center;
    background: linear-gradient(to right, #98d699, #126b09);
    margin-top: 30px;
    text-decoration: none;
    padding: 10px 5px;
    font-weight: 500;
  }
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
  }  
  /* end card */

  .icon {
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .icon:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
  } 

  .footer {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
  }

  /* title */
  .typewrite > .wrap { 
    color:white;
    border-right: 0.08em solid #fff
  }

#mycanvas {
    position: absolute;
    display: inline;
}

/* Scroll animation */
@keyframes fade-in {
    from {opacity: 0; transform: scale(.7,.7)}
    to {opacity: 1;}
}
.fade-in-element {
  animation: fade-in 2s;
}
/* add hidden to add animation */
.hidden {
    opacity: 0;
  }

  @media (max-width: 576px) {
      .cont {
          width: 90%;
      }
      .icons {
          min-width: 0;
          width: 30%;
      }
      .title {
          font-size: 1.5rem;
      }

      .container {
        width: 100%;
      }
    
      .heading {
        padding: 20px;
        font-size: 20px;
      }
    
      .card {
        width: 100%;
      }
      #tap {
        display: none;
      }
  }

  @media (min-width: 577px) and (max-width: 992px) {
    .card {
      width: 40%;
    }
    #tap {
      display: none;
    }
  }
  @media (min-width: 993px) {
    .card {
      width: 30%;
    }
  }

  