body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: #fff;
color: #000;
}

.container {
width: 970px;
margin: auto;
}

/* title */
  .typewrite > .wrap { 
    border-right: 0.08em solid #fff;
  }

.title {   
padding: 2px 15px;
margin-top: 20px;
color: #e7ecef; 
    font-size: 1.5rem;
background-color: rgba(24, 49, 79, 0.7);
}

.main {
  padding: 10px 5px;
  text-align: center;
  font-size: 1.5rem;
}

.bgwhite {
background-image: none;
color: black;
}

/* add hidden to add animation */
.hidden {
    opacity: 0;
  }


.icons {
    min-width: 125px;
    width: 15%;
    margin-right: 2.5%;
    margin-left: 2.5%;
}

.icons:hover {
    transform: scale(1.10);
    transition: transform 0.5s;
}

 #contact .icons {
    min-width: 60px;
    width: 5%;
  }

/* cards */
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
  }

  .card {
    width: 30%;
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 50px;
    transition: 0.3s;
  }
  .card-header {
    text-align: center;
  }
  .card-body {
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
  }

span {
font-weight: 700;
  }

  .card-header img {
      width: 100%;
  }
  .card-body .btn {
    display: block;
    color: #000;
    text-align: center;
    background: linear-gradient(to right, #fff, #18314f);
    margin-top: 30px;
    text-decoration: none;
    padding: 10px 5px;
    font-weight: 500;
  }
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
  }  
  /* end card */
  
  .footer {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
  }

/* Scroll animation */
@keyframes fade-in {
    from {opacity: 0; transform: scale(.7,.7)}
    to {opacity: 1;}
}
.fade-in-element {
  animation: fade-in 2s;
}

  @media (max-width: 767px) {
    .container {
      width: 100%;
    }
    .title {
      font-size: 1em; 
      background-color: rgba(24, 49, 79, 0.2);
      color: #828385; 
    }
    .main {
      font-size: 1em;
    }
    .icons {
        min-width: 0;
        width: 20%;
    }
  #contact .icons {min-width: 0;width: 10%}
    .card {
      width: 100%;
    }
}

  @media (min-width: 768px) and (max-width: 992px) {
    .container {
      width: 90%;
    }

    .card {
      width: 40%;
    }
  }  